/* if you're looking at this you probably have some idea what you're seeing and im going to tell you right now: i dont wanna talk about it */
html {
  font-size: 0.9em;
  line-height: 22px;
  font-family: "Nunito", sans-serif;
  padding: 0px;
  background-image: url(public/images/backgrounds/critterwhitegreen.png);
  background-attachment: fixed;
  background-color: white;
}
body {
  width: 900px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: #ef8a85;
}
a:hover {
  color: #68BDE7;
}
h1 {
  font-size: 22px;
  line-height: 18px;
  font-weight: bold;
}
.table {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 826px;
}
.table td {
  vertical-align: top;
  border: none;
  padding: 0px;
  position: relative;
 }

.table tr {
  vertical-align: top;
  border: none;
  padding: 0px;
  position: relative;
}
.head {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #351854;
  border-radius: 5px;
  height: 150px;
  width: 800px;
  position: relative;
  padding: 10px;
  background-image: url(public/images/eyes.gif);
  background-size: auto;
  background-color: #F9F7F5;
}
.navi {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border: 3px solid #351854;
  border-radius: 5px;
  height: 20px;
  width: 400px;
  position: relative;
  padding: 10px;
}
.bodylanding {
  margin-top: 175px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border: 3px solid #351854;
  border-radius: 5px;
  width: 800px;
  position: relative;
  padding: 10px;
}
.bodywide {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border: 3px solid #351854;
  border-radius: 5px;
  width: 800px;
  position: relative;
  padding: 10px;
}
.bodybar {
  background-color: #FFFFFF;
  border: 3px solid #351854;
  border-radius: 5px;
  padding: 10px;
  width: 640px;
  min-height: 222px;
  margin-left: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.footer {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border: 3px solid #351854;
  border-radius: 5px;
  height: 20px;
  width: 400px;
  position: relative;
  padding: 10px;
}
.sidebar1 {
  background-color: #FFFFFF;
  border: 3px solid #351854;
  border-radius: 5px;
  padding: 10px;
  width: 120px;
  height: auto;
  margin-top: 20px;
  position: sticky;
  top: 20px;
  z-index: 9;
 }
.headimg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  bottom: -135px;
  z-index: 8;
}
.bodyimg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  z-index: 8;
}
.emojimg {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  margin-bottom: -4px;
  margin-left: 2px;
}
